<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.administrator.hezhihaics.lbs.view">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> 
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.administrator.hezhihaics.lbs.bean.LBSApplication"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="deef344c85308b63e91486e0b6b5f4d2" />

        <activity
            android:name=".activity.WelcomeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />    <!--隐藏软键盘-->
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity">
        </activity>

        <activity
            android:name=".activity.RegisterActivity">
        </activity>
        <activity
            android:name=".activity.AddDiaryActivity">
        </activity>
        <activity
            android:name=".activity.PostGuideRequirement">
        </activity>

        <activity
            android:name=".TouristMainActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".GuideMainActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.ViewAppointInfoActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.ServiceAppealActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
    </application>
</manifest>